<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>הספרייה הלאומית</title>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" />
    <script src="js/jquery-1.9.1.min.js"></script>
    
    <script src="js/angular/angular.js"></script>
  
    <script src="js/ui-bootstrap-tpls-1.3.3.js"></script>
    
    <script src="js/angular/app/app.js"></script>
    <script src="js/angular/app/services/DataProviderService.js"></script>
    <script src="js/angular/app/controllers/BookTimeLineCtrl.js"></script>
    <script src="css/5grid/init.js?use=mobile,desktop"></script>
    <script src="js/jquery.formerize-1.1.js"></script>
    <script src="js/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="css/5grid/core.css" />
        <link rel="stylesheet" href="css/5grid/core-desktop.css" />
        <link rel="stylesheet" href="css/5grid/core-1200px.css" />
        <link rel="stylesheet" href="css/5grid/core-noscript.css" />
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/style-desktop.css" />
        <link rel="stylesheet" href="css/noscript.css" />
    </noscript>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie8.css">
    <![endif]-->
    <!--הגדרות סקריפט לציר הזמן-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/timeliner.css" type="text/css" media="screen" />



    <!--[if gte IE 5.5]>
    <script language="JavaScript" src="ie.js" type="text/JavaScript"></script>
    <![endif]-->


</head>
<body ng-app="bookTimeLine">
    <div id="wrapper" style="opacity: 1; padding-top: 36.5px;" ng-controller="BookTimeLineCtrl">
       <!-- tool bar for navigate from page to page-------- home- category- email -->
        <nav id="nav"> <a href="email.html" class="icon icon-mail"><span>Email Me</span></a> <a href="category.html" class="icon icon-folder active"><span>category</span></a> <a href="home.html" class="icon icon-user"><span>Home</span></a>   </nav>
    <!--  the main is the wite page in the website that contain the function of the user interface -->   
     <div id="main" style="display: inline-block;">
           <!--ng- repeat=  the year of the book= KEY & VALUE= the number of books in the same year -->
         <div ng-repeat="(key,value) in bookDic" style="display:inherit;width: 100%;">
                <div class="timeline-wrapper;" section=section style="shape-margin:inherit">
                    <div class="row"> <div class="col-xs-1" ng-bind="key"></div>
                        <div class="col-xs-11 book-like-out-bar">
                            <div class="row" ng-init="isCollapsed=true">
                                <div ng-click="isCollapsed = !isCollapsed" class="col-xs-12 book-count-bar" ng-style="calculateBarWidthByPerc(value.length)"></div>
                            </div>
                            <span class="caret pull-right fixed"></span>
                            <div class="row" uib-collapse="isCollapsed">
                                <div class="well well-lg">
                                     <span ng-repeat="book in value" class="timeline-event" data-toggle="modal" data-target="#myModal"><img src="images/bookicon1.png" /></span>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.timeline-wrapper -->

        
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- main -->

        <div id="footer">
            <ul class="links">
                <li>&copy; Moran Shalom</li>
                <li>אתר הבית : <a href="http://web.nli.org.il/sites/NLI/Hebrew/Pages/default.aspx">הספרייה הלאומית</a></li>

            </ul>
        </div>
    </div><!--wrapper-->
</body>
</html>