/* ============ TIMELINER.JS ============= */


/*time-line- all the line*/
.timeline-container {
 /* background: url(../images/bookicon.png) left center repeat-y;  */
  border-left: 3px solid #666; /* - red line */
  margin: 1px auto;
  width: 600px;

}
/* EXPENTALL*/
.timeline-toggle {
  background: #fcd7aa;
  border-color: #EEE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  cursor: pointer;
  float: right;
  font-size: 12px;
  margin-right: 0;
  padding: 3px 5px;
  white-space: nowrap;
}
.timeline-wrapper {
 clear: left;
  float: left;

  width:auto;
}
.timeline-wrapper h2 {
  background: url(../images/timeline_century_tick.gif) left center no-repeat;
  font-family: Palatino, "Times New Roman", Times, serif;
  cursor: pointer;
  font-size: 3em;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 4px 4px 4px 20px;
}
/*year*/
.timeline-wrapper h2 span {
 background: url(../images/iconYear.png) repeat-x; 
  -webkit-border-radius: 4px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  color: #666;
  letter-spacing: 0.1em;
  font-size:22px;
  line-height:1.5em;
  padding: 18px 0px 4px;
  /* 
  background: #fcd7aa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #666;
  letter-spacing: 0.1em;
  line-height: 1.7em;
  padding: 3px 5px 1px;
      */
}


.book-like-out-bar{
       height: auto;
       
    
}
.book-count-bar{
   height: 22px;
   background-color:#7D1515;
   
}
.book-count-bar:active {
	position:relative;
	top:1px;
}

.book-count-bar:hover {
    background-color: #bd1717;
}
.fixed{
    margin-bottom:5px;
}

.book{
        margin-left: 0.4%;
}
.book:active{
    	position:relative;
	top:1px;
}
.book:hover{
  	position:relative;
	top:3px;
}




